.classpath
*.class
.classpath
.metadata
.settings
.idea
target
*.iml
*.eml
*.swp
.DS_Store
*.log
*.swp
*.pyc
*.egg-info
.Python
*.wpr
*.wpu
*.css.gz
*.js.gz
.gitignore.bak
.gradle
build/
# Mobile Tools for Java (J2ME)
.mtj.tmp/
.classpath
build.gradle
bin/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
