<?xml version="1.0" encoding="UTF-8"?>

<!-- 
     Note: this logback config file is only used if not running
-->
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
      <pattern>[%d{HH:mm.ss.SSS} %c{}] %m%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
  <root level="DEBUG">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
